---
layout: default-post
page-class: 	page-gallery gallery-list
---

<section class="grid">
    
    {% for gallery in page.galleries %}

    <div class="gallery-wrapper grid-item">
        
        <div class="wrapper">
            <a href="{{ gallery['gallery'] }}">
                <figure class="figure-thumb">
                    <img src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}" />
                </figure>
                <aside class="aside-details">
                    <h3>{{ gallery["name"] }}</h3>
                    <p>{{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}</p>
                </aside>
            </a>
        </div>

    </div>

    {% endfor %}
    
</section>