<section class="o-block blog-posts mt-4 row no-gutters">
    <div class="container">
      <div class="row">
        <article class="card blog-card col-12 col-md-4 col-lg-3">
          <div class="o-card hover-card">
            <figure class="m-card-image">
              <img src="http://placehold.it/1920x1080?text=image" class="a-image"/>
            </figure>
            <div class="m-card-body">
              <div class="m-card-header">blog title</div>
              <div class="m-card-footer">read more</div>
            </div>

          </div>
        </article>
      </div>
    </div>
</section>