// TABLET LAYER [SITE]  ##############################################

	// A. SITEWIDE STYLING ++++++++++++++++++++++++++++++++++++++++++++++++
	
	    .fluid-c {
			
			max-width: 80%;
			margin: $baseline/4 auto;
			
		}

		.fluid-l,
		.fluid-r {
			
			max-width: 90%;
			float: none;
			margin: $baseline/4 auto; 
			
		}
			
	// A. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// B. MASTHEAD ++++++++++++++++++++++++++++++++++++++++++++++++
	
	    #masthead {
	    
	        .container {
				
				.figure-logo {
					
					width: 80%;
					
					a {
						
						.site-logo {
							
						}
					}
				}
				
				#nav {
					
					ul {
						
						.nav-close {
						
							transform: translateY(-300%);
						}
					}
				}
			}
	    }
	
	// B. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// C. MAST ++++++++++++++++++++++++++++++++++++++++++++++++
		
		#mast {
		
		    
		
		}
		
	// C. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// D. FOOTEND ++++++++++++++++++++++++++++++++++++++++++++++++
	
	    #footend {
	    
	        
	    
	    }
		
	// D. END ++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ##############################################