<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ site.description }}">
    <link rel="apple-touch-icon" href="{{ site.url }}/assets/images/apple-touch-icon-57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/images/apple-touch-icon-72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/images/apple-touch-icon-114.png" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- A. CSS ++++++++++++++++++++++++++++++++++++++ -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/Stylesheet.css" type="text/css">
	
	<!-- A. END ++++++++++++++++++++++++++++++++++++++ -->
	
	<!-- B. HEAD JS ++++++++++++++++++++++++++++++++++++++ -->

	<script src="{{ site.url }}/assets/js/jquery/jquery-1.9.1.min.js"></script>
	<script src="{{ site.url }}/assets/js/production.min.js"></script>
	<script src="{{ site.url }}/assets/js/production.js"></script>
	
	<!-- B. END ++++++++++++++++++++++++++++++++++++++ -->

</head>