<header id="masthead">

  <div class="container">
	
	<figure class="figure-logo">
		<a href="{{ site.baseurl }}/">
			<img class="site-logo" src="{{ site.url }}/assets/images/svg/MVBCLogo.svg" alt="MVBC Logo"/>
		</a>
	</figure>
	  
    <nav class="site-nav" id="nav">
		
		<ul>
			<li><a href="{{ site.url }}/profile"><span>Club Profile</span></a></li>
			<li><a href="{{ site.url }}/fixtures/"><span>Fixtures</span></a></li>
			<li><a href="{{ site.url }}/results/"><span>Results</span></a></li>
			<li><a href="{{ site.url }}/blog/"><span>Latest News</span></a></li>
			<li><a href="{{ site.url }}/events/"><span>Our Events</span></a></li>
            <!-- <li><a href="{{ site.url }}/photos/"><span>Gallery</span></a></li> -->
			<li><a href="{{ site.url }}/contact"><span>Contact Us</span></a></li>
			<li><a href="{{ site.url }}/"><span>Home</span></a></li>
			<li><a href="#" class="nav-close"><span>Close</span></a></li>
		</ul>
		
    </nav>
	  
	<a href="#nav" class=" mobile-nav"><span>MENU</span></a>

  </div>

</header>