// BASE LAYER [PAGES] ##############################################

// 1. HOMEPAGE +++++++++++++++++++++++++++++++++++++++++++

	section {
			
		.grid {

			.grid-item {


				h3 {

					margin: $baseline $baseline/4;	

				}

				ul {

					margin: 0 $baseline/4;	

				}
			}
		}
	}


// 1. END +++++++++++++++++++++++++++++++++++++++++++

// 2. HEADER +++++++++++++++++++++++++++++++++++++++++++


// 2. END +++++++++++++++++++++++++++++++++++++++++++

// 3. GENERIC PAGE STYLING +++++++++++++++++++++++++++++++++++++++++++

	// 3.1. content styling +++++++++++++++++++++++++++++++++++++++++++
	
	.article {
		
		#masthead {
			
			.container {
				
				.figure-logo {
					
					width: 40%;
					
				}
			}
	    }
		
		#mast {
			
			.container {
				
				background: rgba($white,0.9);
				
				.wrapper {
					
					padding: $baseline*2;
					@include clearfix();
					
					.blogpic-l {
						
						max-width: 25%;
						float: left;
						margin-right: $baseline;
						
					}
					
					.blogpic-c {
						
						max-width: 60%;
						margin: $baseline/2 auto;
						
					}
				}
			}
			
			table {
			
				td, th {
					
					padding: $baseline/2;
					border: 1px solid $black;
					font-size: $small;
					
				}
			}
		}
	}

	// 3.1. END +++++++++++++++++++++++++++++++++++++++++++


	// 3.2. content landing page styling +++++++++++++++++++++++++++++++++++++++++++
	.article-page {
		
		#masthead {
			
			.container {
				
				.figure-logo {
					
					width: 40%;
					
				}
			}
	    }
		
		#mast {
			
			.container {
				
				.wrapper {
					
					padding: 0;
					
				}
			}
		}
	}

	// 3.2. END +++++++++++++++++++++++++++++++++++++++++++


// 3. END +++++++++++++++++++++++++++++++++++++++++++

// 4. EVENTS PAGE +++++++++++++++++++++++++++++++++++++++++++

	.page-events {
		
		
	}

	.section-events {
		
		margin: $baseline 0;
		
		.container {
			
			.grid {
				
				.grid-item {
					
					.wrapper {
						
						position: relative;
						
						a {
							
							figure {
								
								img {
									
									width: 100%;
									opacity: 0.4;
									
								}
							}
							
							aside {
								
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								
								h3 {

									margin: 0 !important;	

								}
							}
						}
					}
				}
			}
		}
	}


// 4. END +++++++++++++++++++++++++++++++++++++++++++

// 5. FIXTURES +++++++++++++++++++++++++++++++++++++++++++


		.page-fixture {
			
			#mast {
			
				.container {

					background: rgba($white,0.9);

					.wrapper {

						padding: $baseline*2;

					}
				}
			}
		}

	    	
// 5. END +++++++++++++++++++++++++++++++++++++++++++

// 6. Generic Site Content Pages +++++++++++++++++++++++++++++++++++++++++++


		.site-page {
			
			#masthead {
			
				.container {

					.figure-logo {

						width: 40%;
						
					}
				}
			}

			#mast {

				.container {

					background: rgba($white,0.9);

					.wrapper {

						padding: $baseline*2;

					}
				}
			}
		}

	    	
// 6. END +++++++++++++++++++++++++++++++++++++++++++

// 7. CONTACT PAGE +++++++++++++++++++++++++++++++++++++++++++


		.page-contact {
			
			#mast {
			
				.container {

					background: rgba($white,0.9);

					.wrapper {

						padding: $baseline*2;
						
						.google-map {
							
							@include aspect-ratio(56.25%);
							
							.content {
								
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								
							}
						}
					}
				}
			}
		}

	    	
// 7. END +++++++++++++++++++++++++++++++++++++++++++

		.page-gallery {

			.play {

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: $white;

				.section-area {

					width: 100%;
					height: 100%;
					position: absolute;
					perspective: 1000;
					perspective-origin: 0% 0%;

					.card {

						width: 100%;
						height: 100%;
						background: $white;
						position: relative;
						transform-style: preserve-3d; 

						.card-info {

							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							font-size: $xx-large;
							line-height: normal;
							background: $blueLight;
							transform: rotatex(45deg) rotatey(20deg) rotatez(-10deg);
						}
					}
				}
			}
		}


// END OF FILE ##############################################