// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD ------------------------------------------------------------------------------------------------------

#masthead {

    .container {

        #nav {

            @include clearfix();
            background: rgba($kd-blueLight,0.9);
            margin-bottom: $baseline; 

            ul {

                padding: 0;
                margin: 0;
                overflow: hidden;

                li {

                    list-style-type: none;
                    display: inline-block;

                    a {

                        display: inline-block;
                        padding: $baseline;
                        color: $white;
                        text-decoration: none;

                        &:hover {

                            background: rgba($white,0.6);
                            color: $black;
                            transition: 0.3s 0.1s; 

                        }
                    }
                }
            }
        }
    }




// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) { 

        .nav-mobi { display: block; 
            
            .nav {
            
                &.hidden { display: none; }
                
                display: block;
            
            }
        
        }
        
        .nav-desk { display: none; }

    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) { 

        .nav-mobi { display: block; 
            
            .nav {
            
                &.hidden { display: none; }
                
                display: block;
            
            }
        
        }
        
        .nav-desk { display: none; }

    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) { 

        .nav-mobi { display: block; }
        .nav-desk { display: none; }

    }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) { 

        .nav-mobi { display: none; }
        .nav-desk { display: block; }

    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) { 

        .nav-mobi { display: none; }
        .nav-desk { display: block; }

    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################