// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD ------------------------------------------------------------------------------------------------------

#masthead {

    .container {

        #nav {

            @include clearfix();
            background: rgba($kd-blueLight,0.9);
            margin-bottom: $baseline; 

            ul {

                padding: 0;
                margin: 0;
                overflow: hidden;

                li {

                    list-style-type: none;
                    display: inline-block;

                    a {

                        display: inline-block;
                        padding: $baseline;
                        color: $white;
                        text-decoration: none;

                        &:hover {

                            background: rgba($white,0.6);
                            color: $black;
                            transition: 0.3s 0.1s; 

                        }
                    }
                }
            }
        }
    }




// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) { 

        .container {

            .figure-logo {

                width: 80% !important;
                margin: $baseline*2 auto;

                a {

                    .site-logo {

                    }
                }
            }

            #nav {

                @include clearfix();
                background: $kd-cyan;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 5;
                transform: translateY(-300%);
                transition: 0.3s;
                transition-delay: 0.2s;
                margin-bottom: 0;

                &.target {

                    transform: translateY(0%);
                    transition: 0.3s;
                    transition-delay: 0.2s;
                }

                .close-nav {

                    transform: translateY(-300%);

                    &.target {

                        transform: translateY(-0%);

                    }
                }

                ul {

                    li {

                        list-style-type: none;
                        display: block;
                        text-align: center;

                        a {

                            display: inline-block;
                            padding: $baseline;
                            font-size: $large;

                        }
                    }
                }
            }

            .mobile-nav {

                display: block;
                background: $kd-cyan;
                border: 1px solid $white;
                padding: $baseline;
                text-align: center;
            }
        }

    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) { 


        .container {

            .figure-logo { width: 80% !important; margin: $baseline*2 auto; }

            #nav {

                @include clearfix();
                background: $kd-cyan;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 5;
                transform: translateY(-300%);
                transition: 0.3s;
                transition-delay: 0.2s;
                margin-bottom: 0;

                &.target { transform: translateY(0%); transition: 0.3s; transition-delay: 0.2s; }

                .close-nav { transform: translateY(-300%);

                    &.target { transform: translateY(-0%); }
                }

                ul {

                    li {

                        list-style-type: none;
                        display: block;
                        text-align: center;

                        a {

                            display: inline-block;
                            padding: $baseline;
                            font-size: $large;

                        }
                    }
                }
            }

            .mobile-nav {

                display: block;
                background: $kd-cyan;
                border: 1px solid $white;
                padding: $baseline;
                text-align: center;
            }
        }

    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) { 

        .nav-close { display: none; }
        .mobile-nav { display: none; }

    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) { 

        .nav-close { display: none; }
        .mobile-nav { display: none; }

    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################