// 2. SECTION [ 2.3. FOOTEND ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FOOTEND -------------------------------------------------------------------------------------------------------

#footend {

    background: rgba($kd-grey90,0.9);
    padding: $baseline 0;
    font-size: $small;
    color: $grayLight;

    .container {

        .grid {

            @extend .grid;
            margin-left: 0 !important;

            .grid-item {

                @extend .grid__item;
                @extend .one-third;
                @extend .feature--one-whole;
                @extend .mobile--one-whole;

                padding-left: 0 !important;

                .social-media {

                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {

                        list-style-type: none;
                        display: inline-block;
                        width: auto;

                        a {

                            display: inline-block;

                            .custom-icon {

                                width: 30px;
                                height: 30px;

                            }
                        }
                    }
                }

                p { color: $grayLight; }
                h2 { font-size: $x-large; }
            }
        }
    }


// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {
    
    padding: 60px 0;

    .grid-item {

        h2, p, ul {

            margin-left: $baseline;

        }

        .social-media {

            margin-left: $baseline!important;   

        }  
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    
    padding: 60px 0;

    .grid-item {

        h2, p, ul {

            margin-left: $baseline;

        }
        
        .social-media {

            margin-left: $baseline!important;   

        }  
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .grid-item {

        h2, p, ul {

            margin-left: $baseline;

        }

        .social-media {

            margin-left: $baseline!important;   

        }  
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################