// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.article { 
    
    // A.1. WORK LISTING PAGE
	
		#masthead {
			
			.container {
				
				.figure-logo {
					
					@include aspect-ratio (40%, 56.25%);	
					
				}
			}
	    }
		
		#mast {
			
			.container {
				
				background: rgba($white,0.9);
				
				.wrapper {
					
					@include clearfix();
					
					.blogpic-l {
						
						max-width: 25%;
						float: left;
						margin-right: $baseline;
						
					}
					
					.blogpic-c {
						
						max-width: 60%;
						margin: $baseline/2 auto;
						
					}
				}
			}
			
			table {
			
				td, th {
					
					padding: $baseline/2;
					border: 1px solid $black;
					font-size: $small;
					
				}
			}
		}
    
    // A.2. END
}


// 3.2. content landing page styling +++++++++++++++++++++++++++++++++++++++++++

.article-page {

    #masthead {

        .container {

            .figure-logo {

                @include aspect-ratio (40%, 56.25%);	

            }
        }
    }

    #mast {

        .container {

            .wrapper {

                padding: 0;

            }
        }
    }
}

// 3.2. END +++++++++++++++++++++++++++++++++++++++++++



// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

	
	.article {
		
		#mast {
			
			.container {
				
				.wrapper {
					
					padding: $baseline/6;
					
					.blogpic-l {
						
						max-width: 25%;
						float: left;
						margin-right: $baseline;
						
					}
					
					.blogpic-c {
						
						max-width: 60%;
						margin: $baseline/2 auto;
						
					}
				}
			}
			
			table {
			
				td, th {
					
					padding: $baseline/6;
					font-size: $normal;
					
				}
			}
		}
	}


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

	
	.article {
		
		#mast {
			
			.container {
				
				.wrapper {
					
					padding: $baseline/6;
					
					.blogpic-l {
						
						max-width: 25%;
						float: left;
						margin-right: $baseline;
						
					}
					
					.blogpic-c {
						
						max-width: 60%;
						margin: $baseline/2 auto;
						
					}
				}
			}
			
			table {
			
				td, th {
					
					padding: $baseline/6;
					font-size: $normal;
					
				}
			}
		}
	}


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    #mast { padding-top: 60px; }
    
    .project { flex-direction: column; }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    #mast { padding-top: 0; }
    
    .project {
        
        flex-direction: row;
        
        .column-1 { width: 25%; }
        .column-2 { width: 75%; }
        .row-1 { .mobi { width: 50% }}
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    #mast { padding-top: 0; }
    
    .project {
        
        flex-direction: row;
        
        .column-1 { width: 33.33%; }
        .column-2 { width: 66.66%; }
        .row-1 { .mobi { width: 33.33% }}
    }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
// END OF FILE ########################################################################################################