// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

	.section-events {
		
		margin: $baseline 0;
		
		.container {
			
			.grid {
				
				.grid-item {
					
					.wrapper {
						
						position: relative;
						
						a {
							
							figure {
								
								img {
									
									width: 100%;
									opacity: 0.4;
									
								}
							}
							
							aside {
								
								@include position(absolute, 0);
								
								h3 {

									margin: 0 !important;	

								}
							}
						}
					}
				}
			}
		}
	}



// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

	.page-event {
        
        .wrapper { padding: $baseline $baseline-small;}
		
	}
    
    .section-eventList {

        .container {

            .grid {

                .grid-item {

                    h3 { font-size: $x-large; padding: $baseline; }
                    h4 { font-size: $large; padding: 0 $baseline; }
                    p { font-size: $medium; padding: $baseline; }
                }
            }
        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

	.page-event {
        
        .wrapper { padding: $baseline $baseline-small;}
		
	}
    
    .section-eventList {

        .container {

            .grid {

                .grid-item {

                    h3 { font-size: $x-large; padding: $baseline; }
                    h4 { font-size: $large; padding: 0 $baseline; }
                    p { font-size: $medium; padding: $baseline; }
                }
            }
        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

	.page-event {
        
        .wrapper { padding: $baseline;}
		
	}
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

	.page-event {
        
        .wrapper { padding: $baseline-medium;}
		
	}
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

	.page-event {
        
        .wrapper { padding: $baseline-medium;}
		
	}
}


// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
// END OF FILE ########################################################################################################