// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.page-fixture {

    #mast {

        .container {

            .wrapper {
                
                .key { margin-top: $baseline-small; font-size: $small; 
                    
                    span { padding: $baseline-small; color: $black; }
                }
                
                .mvbc { background: rgba($kd-grey80,0.8); td { color: $black; }}
                .forfeit { background: rgba($kd-red,0.5); td { color: $white; }} 
                
                table {
                    
                    border: 0;
                    
                    tr {
                        
                        &.header { background: $kd-grey90;
                        
                            td { color: $white; }
                        
                        }
                    
<<<<<<< HEAD
                        td { border: 0; padding: $baseline-small; font-size: $small; color: $kd-grey80; }
=======
                        td { border: 0; padding: $baseline-small; font-size: $small; color: $kd-grey80; 
                            &.date { text-transform: capitalize; }
                        }
>>>>>>> develop
                        
                    }
                }
            }
        }
    }
}


// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {
    

    .page-fixture {

        #mast {

            .container {

                .wrapper { padding: $baseline $baseline-small;
                
                    table {

                        tr { td { padding: $baseline-small 4px; font-size: $x-small; }}
                    }
                }
            }
        }
    }

    .section-fixture {

        .container {

            .grid {

                .grid-item {

                    &.first {

                        h2 { font-size: $large; }
                    }
                }
            }
        }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {
    

    .page-fixture {

        #mast {

            .container {

                .wrapper { padding: $baseline $baseline-small ;
                
                    table {

                        tr { td { padding: $baseline-small 4px; font-size: $small; }}
                    }
                }
            }
        }
    }

    .section-fixture {

        .container {

            .grid {

                .grid-item {

                    &.first {

                        h2 { font-size: $medium; }
                    }
                }
            }
        }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .page-fixture {

        #mast {

            .container {

                .wrapper { padding: $baseline;
                
                    table {

                        tr { td { padding: $baseline-small; font-size: $small; }}
                    }
                }
            }
        }
    }
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .page-fixture {

        #mast {

            .container {

                .wrapper { padding: $baseline*2;
                
                    table {

                        tr { td { padding: $baseline-small; font-size: $small; }}
                    }
                }
            }
        }
    }
    
}
// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .page-fixture {

        #mast {

            .container {

                .wrapper { padding: $baseline*2;
                
                    table {

                        tr { td { padding: $baseline-small; font-size: $small; }}
                    }
                }
            }
        }
    }
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
// END OF FILE ########################################################################################################