// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.page-gallery {
    
    &.gallery-list {
    
        // A.1.1. GALLERY INDEX
        
        .wrapper {
            
            @extend .grid;
            margin: 0;
            padding: 0;
            background: $white;
            
            .gallery-wrapper {

                width: 35em;
                text-align: center;
                padding: 1em 0 4em 0;

            }

            .gallery-best-image{

                max-height: 20em;
                max-width: 20em;

            }

            // A.1.1. END

        }
    }
    
    // A.1.2. GALLERY PAGES
    
    .gallery-image-wrapper { 
        
        height: 300px;
        width: 300px;
        display: inline-block;
        margin: 1em;
        position: relative;
        
    }
    
    .gallery-image {
        
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        max-height: 100%;
        max-width: 100%;
        
    }
    
    // A.1.2. END
    
    .wrapper {
        

        
        
        
        .wrapper-item {
            
            
        }
        
        
    }


}


// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
// END OF FILE ########################################################################################################