// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.page-gallery {
    
    &.gallery-list {
    
        // A.1.1. GALLERY INDEX
        
        .wrapper {
            
            margin: 0;
            padding: 0;
            
            .gallery-wrapper {

                width: 35em;
                text-align: center;
                padding: 0;
                
                @extend .feature--one-half;
                @extend .mobile--one-half;
                
                .wrapper {
                
                    a {
                    
                        .figure-thumb {
                        
                            img { width: auto!important; height: 100%; }
                        }
                    }
                    
                    .aside-details {
                        
                        transform: translateY(0%);
                    
                        h3 { line-height: normal; color: $kd-yellowMid; }
                    }
                    
                    
                    &:hover a figure img {

                        opacity: 0.2;
                        transform: scale(1.5);
                        transition-delay: 0.2s;
                        transition: 0.3s;

                    }
                    
                    &:hover .aside-details {

                        transform: translateY(15%);
                        transition-delay: 0.2s;
                        transition: 0.3s;

                    }
                }
            }

            // A.1.1. END

        }
    }
    
    // A.1.2. GALLERY PAGES
    
    .gallery-image-wrapper { 
        
        height: 300px;
        width: 300px;
        display: inline-block;
        margin: 1em;
        position: relative;
        
    }
    
    .gallery-image {
        
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        max-height: 100%;
        max-width: 100%;
        
    }
    
    // A.1.2. END

}


// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .gallery-list {
        #mast { padding: 0; }
    }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
// END OF FILE ########################################################################################################