// BASE LAYER [PAGES] ##############################################

// 1. HOMEPAGE +++++++++++++++++++++++++++++++++++++++++++

// 1. END +++++++++++++++++++++++++++++++++++++++++++

// 2. HEADER +++++++++++++++++++++++++++++++++++++++++++


// 2. END +++++++++++++++++++++++++++++++++++++++++++

// 3. GENERIC PAGE STYLING +++++++++++++++++++++++++++++++++++++++++++

	// 3.1. content styling +++++++++++++++++++++++++++++++++++++++++++
	
	.article {
		
		#mast {
			
			.container {
				
				.wrapper {
					
					padding: $baseline/6;
					
					.blogpic-l {
						
						max-width: 25%;
						float: left;
						margin-right: $baseline;
						
					}
					
					.blogpic-c {
						
						max-width: 60%;
						margin: $baseline/2 auto;
						
					}
				}
			}
			
			table {
			
				td, th {
					
					padding: $baseline/6;
					font-size: $normal;
					
				}
			}
		}
	}

	// 3.1. END +++++++++++++++++++++++++++++++++++++++++++


	// 3.2. content landing page styling +++++++++++++++++++++++++++++++++++++++++++
	.article-page {
		
		#masthead {
			
			.container {
				
				.figure-logo {
					
					
				}
			}
	    }
		
		#mast {
			
			.container {
				
				.wrapper {
					
					
				}
			}
		}
	}

	// 3.2. END +++++++++++++++++++++++++++++++++++++++++++


// 3. END +++++++++++++++++++++++++++++++++++++++++++

// 4. EVENTS PAGE +++++++++++++++++++++++++++++++++++++++++++

	.page-events {
		
		
	}

	.section-events {
		
		.container {
			
			.grid {
				
				.grid-item {
					
					.wrapper {
						
						a {
							
							figure {
								
								img {
									
								}
							}
							
							aside {
								
								h3 {

								}
							}
						}
					}
				}
			}
		}
	}


// 4. END +++++++++++++++++++++++++++++++++++++++++++

// 5. CONTACT +++++++++++++++++++++++++++++++++++++++++++


		.page-fixture {
			
			#mast {
			
				.container {

					.wrapper {

					}
				}
			}
		}

	    	
// 5. END +++++++++++++++++++++++++++++++++++++++++++

// 6. Generic Site Content Pages +++++++++++++++++++++++++++++++++++++++++++


		.site-page {
			
			#masthead {
			
				.container {

					.figure-logo {
						
					}
				}
			}

			#mast {

				.container {

					.wrapper {

					}
				}
			}
		}

	    	
// 6. END +++++++++++++++++++++++++++++++++++++++++++


// END OF FILE ##############################################