// MOBILE LAYER [SITE]  ##############################################

	// A. SITEWIDE STYLING ++++++++++++++++++++++++++++++++++++++++++++++++
	
	    .fluid-c {
			
			max-width: 90%;
			margin: $baseline/4 auto;
			
		}

		.fluid-l,
		.fluid-r {
			
			max-width: 90%;
			float: none;
			margin: $baseline/4 auto;
			
		}
			
	// A. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// B. MASTHEAD ++++++++++++++++++++++++++++++++++++++++++++++++
	
	    #masthead {
			
			.container {
				
				.figure-logo {
					
					width: 80% !important;
					margin: 34px auto;
					
					a {
						
						.site-logo {
							
						}
					}
				}
				
				#nav {
					
					@include clearfix();
					background: $blueLight;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 5;
					transform: translateY(-300%);
					transition: 0.3s;
					transition-delay: 0.2s;
					margin-bottom: 0;
					
					&:target {
						
						transform: translateY(0%);
						transition: 0.3s;
						transition-delay: 0.2s;
					}
					
					.close-nav {
						
						transform: translateY(-300%);
						
						&:target {
							
							transform: translateY(-0%);
							
						}
					}
					
					ul {
						
						li {
							
							list-style-type: none;
							display: block;
							text-align: center;
							
							a {
								
								display: inline-block;
								padding: $baseline;
								font-size: $large;
								
							}
						}
					}
				}
				
				.mobile-nav {
					
					display: block;
					background: $blueLight;
					border: 1px solid $white;
					padding: $baseline;
					text-align: center;
				}
			}
	    }
	
	// B. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// C. MAST ++++++++++++++++++++++++++++++++++++++++++++++++
		
		#mast {
		
			section {
				
				.grid {
					
					.grid-item {
						
						.wrapper {
							
							&.first {
								
								figure {
									
									img {
										
									}
								}

								h2 {

									font-size: $xx-large;
									padding: $baseline;
								}
							}
							
							a {
								
							}
							
							figure {

								img {
									
								}
							}

							aside {

							}

							img {

							}

							h3 {

								font-size: $large;
								padding: $baseline/2;

							}
							
							h4 {
								
								font-size: $medium;
								padding: 0 $baseline/2;
								
							}
							
							p {
								
								font-size: $normal;
								padding: $baseline/2;
								
							}

							ul {

							}
						}
					}
				}
			}
			
			.section-blog {
				
				.container {
					
					.grid {
						
						.grid-item {
							
							@extend .mobile--one-half;
							
							&.first {
								
								h2 {

									font-size: $large;
									
								}
								
							}
						}
					}
				}
			}
			
			.section-eventList {
				
				.container {
					
					.grid {
						
						.grid-item {
							
							&.first {
								
							}
							
							h3 {

								font-size: $x-large;
								padding: $baseline;

							}
							
							h4 {
								
								font-size: $large;
								padding: 0 $baseline;
								
							}
							
							p {
								
								font-size: $medium;
								padding: $baseline;
								
							}
						}
					}
				}
			}
			
			.section-fixture {
				
				.container {
					
					.grid {
						
						.grid-item {
							
							@extend .mobile--one-half;
							
							&.first {
								
								h2 {

									font-size: $large;
									
								}
							}
						}
					}
				}
			}
		}
		
	// C. END ++++++++++++++++++++++++++++++++++++++++++++++++
	
	// D. FOOTEND ++++++++++++++++++++++++++++++++++++++++++++++++
	
	    #footend {
	    
            .grid-item {
                
                h2, p, ul {
                    
                    margin-left: $baseline;
                    
                }
                
                .social-media {
                    
                    margin-left: $baseline!important;   
                    
                }  
            }
	    }
		
	// D. END ++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ##############################################